/*
 * cwTeXYen (Chinese Traditional) http://www.google.com/fonts/earlyaccess
 */


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

html{
    position: relative;
    min-height: 100%;
}
body{
    font-family: 'Noto Serif TC', serif;
    font-weight: 600;
    margin-bottom: 400px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 350px;
    background-color: #1d2443;
}
.home{
    background-color: #eeeff9;
}

ul{
    list-style: none;
    flex-basis:100%;
}
img{
    width: 60%;
    height: auto;
}
.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
span.highlighted {
    color: red;
}
/* start homepage */
.bs-canvas-overlay {
    opacity: 0;
    z-index: -1;
    /* background-color: #F2F5FF; */
 }
 
 .bs-canvas-overlay.show {
    opacity: 0.85;
    z-index: 1100;
 }
 
 .bs-canvas {
    top: 0;
    width: 0;
    z-index: 1110;
    overflow-x: hidden;
    overflow-y: auto;
 }
 
 .bs-canvas-right {
    right: 0;
 }
 
 .bs-canvas-anim {
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
 }
 
 .side-menu .nav-item{
    font-size: large;
 }
 .side-menu .nav-link:hover{
    color: #003999;
 }
 .side-menu .active{
    color: #003999;
    text-decoration: underline;
    font-weight: bold;
 }
/* .topNav .nav-item{
    padding: 0rem 0.3rem 0rem 0.3rem;
} */
.topNav .nav-link{
    font-size: 8 vw;
    color: #414141;
}
.main-menu .navbar .navbar-nav .nav-item {
    position: relative;
}
.main-menu .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #000066;
    width: 0%;
    content: "";
    height: 4px;
}
.main-menu .navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
}
.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
 }
.main-menu .nav-item:hover{
    /* border: 1px solid #000066; */
    /* border-radius: 7px; */
    background-color: #f3f3f3;
}
.home_main-area .btn:hover{
    background-color: #f3f3f3;
}

.carousel .header-img{
    height: 65vh;
    object-fit: cover;
    filter: brightness(0.7);
}
.carousel-caption{
    font-family: 'Noto Serif TC', serif;
    font-weight: 500;
    line-height: 2em;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.home_main-area{
    font-family: 'Noto Serif TC', serif;
    color: #414141;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
#bs-canvas-right{
    background-color: #eeeff9;
    color: #414141;
    font-family: 'Noto Serif TC', serif;
    transition: all 0.3s;
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #eeeff9;
}
#bs-canvas-right ul li a {
    padding: 10px;
    font-size: 1.1em;
    font-weight: 900;
    display: block;
}
#bs-canvas-right ul li a:hover {
    color: #000066;
    background: #fff;
}
#bs-canvas-right ul li.active > a, a[aria-expanded="true"] {
    color: #000066;
    background: #eeeff9;
}
.bs-canvas-content ul ul a {
    font-size: 0.9em !important;
    padding-left: 50px !important;
    background: #eeeff9;
    font-weight: 400;
}

.home_news-area ul{
    padding-left: 0;
    font-size: 18px;
}
.home_news-area li:hover{
    color:#000066;
}
.home_news-area a:hover{
    color:#000066;
    text-decoration: underline;
    font-weight: 700;
}
.home_itnews-area .card:hover{
    opacity: 0.85;
}
.home_itnews-area .card a:hover{
    color:#000066;
    font-weight: 600;
}
.home_info-area .info-right{
    /* height: fit-content; */
    background-color: #1d2443;
    color: #fff;
}
/* end homepage */

/* start footer */
.footer-area .nav-link{
    font-family: 'Noto Serif TC', serif;
    text-transform: uppercase;
    /* padding: 0.7rem; */
    color: #f3f3f3;
}

.footer-area .address{
    line-height: 0.1em;
    font-size: xx-small;
    font-family: 'Noto Serif TC', serif;
    color: #f3f3f3;
}
/* end footer */

.header{
    background-color: #f2e9e4;
    background-size: cover;
    height: 15rem;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 900;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.news-image{
    background-image: url("../images/banner.JPG");
    background-position: center;
}
.info-image{
    background-image: url("../images/banner2.JPG");
    background-position: 50% 60%;
}
.members-image{
    background-image: url("../images/banner3.JPG");
    background-position: 50% 60%;
}
.education-image{
    background-image: url("../images/banner7.JPG");
    background-position: 50% 60%;
}
.admission-image{
    background-image: url("../images/banner5.JPG");
    background-position: 50% 40%;
}
.research-image{
    background-image: url("../images/banner4.JPG");
    background-position: 50% 60%;
    backdrop-filter: blur(8px);
}
.link-image{
    background-image: url("../images/banner6.JPG");
    background-position: 50% 35%;
}

.top-nav ol{
    background-color: #FFFFFF;
}

/* start post_list */

/* .post_list-area .nav{
    text-align: center;
}
.post_list-area .nav-link{
    font-size: 20px;
    font-family: 'Noto Serif TC', serif;
    color: #000000;
    font-weight: 900;
}
.post_list-area .nav-link:hover{
    font-size: 24px;
    font-weight: 900;
    color:#000066;
    line-height: 3rem;
} */
.post_list-area .nav-item{
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    color: #a2a2a2;
}
.post_list-area .nav-item:hover{
    text-decoration: underline;
    /* letter-spacing: 3px; */
    white-space: nowrap;
    color: #000066;
}
.post_list-area .list-title{
    list-style: none;
    font-size: 20px;
    font-family: 'Noto Serif TC', serif;
    color: #000000;
    padding-inline-start: 0px;
}
.post_list-area .list-title li{
    padding: 0.7rem;
    /* opacity: 1; */
}
.post_list-area .list-title a{
    font-size: 18px;
    line-height: 21px;
    font-family: 'Noto Serif TC', serif;
    color: #000000;
}
.post_list-area .li-title:hover{
    /* background-color: #f1f1f1; */
    border-radius: 7px;
    background-color: #f3f3f3;
    font-weight: 700;
}
.post_list-area .list-title a:hover{
    /* color: #414141;
    text-decoration: underline; */
    color: #000066;
    text-decoration: underline;
}
.post_list-area .active{
    border-radius: 7px;
    background-color: #f3f3f3;
    color: #000066;
    /* text-decoration: underline; */
}
.post_list-area .float-right{
    font-size: smaller;
    font-weight: lighter;
}

/* end post_list */

/* start post_detail */

.post_detail-area{
    /* padding: 5rem 15rem; */
    font-family: 'Noto Serif TC', serif;
}
.post_detail-area .post-title{
    font-size: 36px;
    font-weight: 900;
    font-family: 'Noto Serif TC', serif;
    color: #000066;
}
.post_detail-area .post-content{
    font-size: 18px;
    font-weight: 900;
    font-family: 'Noto Serif TC', serif;
    color: #000000;
}
.post-content a{
    text-decoration: underline;
    color: #000066;
}
.post-content a:hover{
    text-decoration: underline;
    color: #414141;
}
.post_detail-area .post-attach{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Noto Serif TC', serif;
    color: #000066;
}

.download-btn{
    display: inline-block;
    border-radius: 20px;
    background-color: #000066;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    height: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.download-btn:hover{
    background-color: #f3f3f3;
    color: #000066;
    border: 2px #000066 solid;
}

.return-btn {
    display: inline-block;
    border-radius: 50px;
    background-color: #414141;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 6px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .return-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .return-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .return-btn:hover span {
    padding-right: 25px;
  }
  
  .return-btn:hover span:after {
    opacity: 1;
    right: 0;
  }
/* end post_detail */

/* start info_list */
.info_list-area{
    /* padding: 5rem 10rem; */
    font-family: 'Noto Serif TC', serif;
}
.info-title{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Noto Serif TC', serif;
    color: #000066;
}
.info-subtitle{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Noto Serif TC', serif;
    color: #000066;
}

/* end info_list */

/* start member_list */
.member-list-area .info-title{
    color: #4D8075;
}
.member-list-area .nav-item{
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    color: #a2a2a2;
}
.member-list-area .nav-item:hover{
    text-decoration: underline;
    /* letter-spacing: 3px; */
    white-space: nowrap;
    color: #000066;
}
.member-list-area .active{
    border-radius: 7px;
    background-color: #f3f3f3;
    color: #000066;
    /* text-decoration: underline; */
}
.member-list-area .card{
    border: none;
}
.member-list-area .card-title{
    font-weight: 700;
    color: #000066;
}
.member-list-area .card-title:hover{
    font-weight: 800;
    color: #000066;
    text-decoration: underline;
}
.card-title-office{
    font-weight: 700;
    color: #000066;
}
.member-list-area .card-text, .card-link{
    font-size: 14px;
    /* line-height: 8px; */
}
.member-list-area .card-link{
    text-decoration: underline;
    color: #000066;
    font-weight: 700;
}

/* end member_list */

/* start member_detail */
.member-detail-area{
    font-size: 20px;
}
.mem-detail-title{
    font-size: 29px;
    font-weight: 700;
    color: #000066;
}
.mem-little-title{
    color: #000066;
    font-size: 20px;
}
.mem-detail-link{
    text-decoration: underline;
    color: #000066;
    font-weight: 700;
}
.up-to-head-icon{
    font-size: 3rem; 
    color: #414141;
    position: fixed;
    bottom: 3rem;
    right: 4rem;
    opacity: 0.4;
}
.up-to-head-icon:hover{
    opacity: 1;
}
/* end member_detail */

/* start office_member_list */
.each-office-member{
    display: flex;
    flex-wrap: wrap;
    width: 580px;
    height: 340px;
    align-items: flex-start;
    justify-content: space-around;
}
.office-member-total-list{
    display: flex;
    flex-wrap: wrap;
}
.office-member-information{
    width: 330px;
    height: 300px;
}
/* end office_member_list */

/* start education */
.file-list{
    font-size: small;
    font-weight: 300;
}
/* end education */

/* start research */

.lab_list-area{
    font-family: 'Noto Serif TC', serif;
}

.lab_list-area .links-title{
    font-size: 24px;
    font-weight: 600;
    color: #000066;
}

.lab_list-area a{
    color: #000066;
    text-decoration: underline;
}

.lab_list-area a:hover{
    opacity: 0.85;
}

/* end research */

/* start links */
.links_list-area{
    font-family: 'Noto Serif TC', serif;
    
}

.links_list-area .links-title{
    font-size: 24px;
    font-weight: 600;
    color: #000066;
}

.links_list-area a{
    color: #000066;
    text-decoration: underline;
}

.links_list-area .link-card:hover{
    opacity: 0.85;
}
/* end links */

.info_list-area .card{
    border: none;
}
.info_list-area .card:hover{
    background-color: #f3f3f3;
}
.info_list-area .card-title{
    font-weight: 700;
    color: #000066;
}
.info_list-area .card-title:hover{
    font-weight: 800;
    color: #000066;
    text-decoration: underline;
}
.info_list-area .card-text, .card-link{
    font-size: 14px;
    /* line-height: 8px; */
}
.info_list-area .card-link{
    text-decoration: underline;
    color: #000066;
    font-size: 1.5rem;
}