{% extends "new_base.html" %}

{% block content %}
<!-- ==========================Start Banner Area========================== -->
{% load static %}
{% load i18n %}
<div class="header education-image d-flex row p-3">
  <div class="col-xl-1"></div>
  <div class="col-xl-11 align-self-center"><em class="bi bi-mortarboard-fill"style="font-size: 24px;"></em>&nbsp&nbsp{% trans "醫資所" %}</div>    
</div>
<!-- ===========================End Banner Area=========================== -->

<!-- =========================Start Info_list Area========================= -->
<div class="mt-5">
  <!-- <div class="row my-3">
    <div class="col-xl-1"></div>
    <div class="col-xl-11 top-nav d-flex flex-nowrap">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">{% trans "課程及修業" %}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{% trans "醫資所" %}</li>
        </ol>
      </nav>
    </div>
  </div> -->
  <section class="info_list-area">
    <div class="row">
      <div class="col-xl-1 order-xl-1"></div>
      <div class="col-xl-2 col-md-12 px-5 pb-5 order-xl-2">
        <h4>{% trans "課程及修業" %}</h4>
        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
              <a class="nav-link {% if 'credits' in request.path %}active{% endif %}" href="{% url 'Credits' %}">{% trans "課程抵免" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if 'bachelor' in request.path %}active{% endif %}" href="{% url 'Bachelor' %}">{% trans "大學部" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if 'bs' in request.path %}active{% endif %}" href="{% url 'BS' %}">{% trans "普渡雙聯組" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if 'instCSIE' in request.path %}active{% endif %}" href="{% url 'instCSIE' %}">{% trans "資訊所" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if 'imi' in request.path %}active{% endif %}" href="{% url 'IMI' %}">{% trans "醫資所" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if 'ai' in request.path %}active{% endif %}" href="{% url 'AI' %}">{% trans "AI學程" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if 'industrial' in request.path %}active{% endif %}" href="{% url 'Industrial' %}">{% trans "產碩專班" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if 'inService' in request.path %}active{% endif %}" href="{% url 'inService' %}">{% trans "在職專班" %}</a>
            </li>
          </ul>
      </div>
      <div class="col-xl-8 col-md-12 px-5 order-xl-3">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            
            <button class="nav-link {% if 'page' not in request.get_full_path %}active{% endif %}" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-2" type="button" role="tab" aria-controls="nav-2" aria-selected="{% if 'page' not in request.get_full_path %}true{% else %}false{% endif %}">{% trans "修業規定" %}</button>
            <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-1" type="button" role="tab" aria-controls="nav-1" aria-selected="false">{% trans "課程介紹" %}</button>
            <!-- <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-3" type="button" role="tab" aria-controls="nav-3" aria-selected="false">專題展</button> -->
            <!-- <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-4" type="button" role="tab" aria-controls="nav-4" aria-selected="false">畢業規定</button> -->
            <button class="nav-link {% if 'page' in request.get_full_path %}active{% endif %}" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-5" type="button" role="tab" aria-controls="nav-5" aria-selected="{% if 'page' in request.get_full_path %}true{% else %}false{% endif %}">{% trans "相關公告及檔案" %}</button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
            <div class="py-4">
              {% if info1 %}
                <ul class="info_title">
                  {% for item in info1 %}
                        
                    <p class="info-title">{{item.title}}</p>
                    <p class="mt-2">{{item.content|safe }}</p>
                  {% endfor %}
                </ul>
              {% else %}
                
              {% endif %}
            </div>
          </div>
          <div class="tab-pane fade {% if 'page' not in request.get_full_path %}show active{% endif %}" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
            <div class="py-4">
              {% if info2 %}
                <ul class="info_title">
                  {% for item in info2 %}
                        
                    <p class="info-title">{{item.title}}</p>
                    <p class="mt-2">{{item.content|safe }}</p>
                  {% endfor %}
                </ul>
              {% else %}
                
              {% endif %}
            </div>
          </div>
          <!-- <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
            <div class="py-4">
              {% if info3 %}
                <ul class="info_title">
                  {% for item in info3 %}
                        
                    <p class="info-title">{{item.title}}</p>
                    <p class="mt-2">{{item.content|safe }}</p>
                  {% endfor %}
                </ul>
              {% else %}
                
              {% endif %}
            </div>
          </div> -->
          <!-- <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">
            <div class="py-4">
              {% if info4 %}
                <ul class="info_title">
                  {% for item in info4 %}
                        
                    <p class="info-title">{{item.title}}</p>
                    <p class="mt-2">{{item.content|safe }}</p>
                  {% endfor %}
                </ul>
              {% else %}
                
              {% endif %}
            </div>
          </div> -->
          <div class="tab-pane fade {% if 'page' in request.get_full_path %}show active{% endif %}" id="nav-5" role="tabpanel" aria-labelledby="nav-5-tab">
            {% if page_obj %}
            <ul class="list-group list-group-flush">
              {% for post in page_obj %}
                <li class="list-group-item list-group-item-light d-flex w-100 justify-content-between">
                  <div class="d-inline-block text-truncate w-100" style="max-width: 900px;">
                    {% if post.is_pin %}
                    <span class="badge badge-warning">置頂</span>
                    {% endif %}
                    {% if post.status|stringformat:"s" == "一般" %}
                    <span class="badge badge-secondary">{{post.status}}</span>
                    {% elif post.status|stringformat:"s" == "重要" %}
                    <span class="badge badge-danger">{{post.status}}</span>
                    {% elif post.status|stringformat:"s" == "大學部" %}
                    <span class="badge badge-primary">{{post.status}}</span>
                    {% elif post.status|stringformat:"s" == "碩士" %}
                    <span class="badge badge-success">{{post.status}}</span>
                    {% elif post.status|stringformat:"s" == "博士" %}
                    <span class="badge badge-info">{{post.status}}</span>
                    {% else %}
                    <span class="badge badge-dark">{{post.status}}</span>
                    {% endif %}

                    {% get_current_language as CURRENT_LANGUAGE %}
                    {% if CURRENT_LANGUAGE == 'en' and post.title_en != '' and post.title_en != None and post.title_en != 'NULL' %}
                    <a href="{{ post.get_absolute_url }}">{{post.title_en}}</a>
                    {% else %}
                    <a href="{{ post.get_absolute_url }}">{{post.title}}</a>
                    {% endif %}
                  </div>
                  <span class="float-right d-none d-sm-block font-weight-normal">{{post.date|date:"Y.m.d"}}</span>
                </li>
                
                <li class="d-flex flex-column">
                  {% for i in post.postfile_set.all %}
                  {% if i.file %}
                  <a class="pl-5 m-1" href="{{i.file.url}}" download style="font-size: 16px;">
                    <em class="bi-file-earmark-arrow-down"></em>{{ i }}
                  </a>
                  {% endif %}
                  {% endfor %}
                </li>
                  
                {% endfor %}
            </ul>
              
            <nav aria-label="Page navigation example mt-5">
              <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">«</a>
                </li>
                  {% if page_obj.number > 3 %}
                  <li class="page-item">
                    <a class="page-link" href="?page=1">1</a>
                  </li>
                    {% if page_obj.number > 4 %}
                    <li class="page-item">
                      <a class="page-link">...</a>
                    </li>
                    {% endif %}
                  {% endif %}
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                  {% if page_obj.number == num %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                  </li>
                  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                  </li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                  <li class="page-item">
                    <a class="page-link">...</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                  </li>
                {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                  </li>
                {% endif %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">»</a>
                </li>
                {% endif %}
              </ul>
            </nav>
            {% else %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-xl-1 order-xl-4"></div>
    </div>
  </section>
</div>

<!-- ==========================End Info_list Area========================== -->

{% endblock %}