<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>NCKU CSIE</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  <script src="https://raw.github.com/carhartl/jquery-cookie/master/jquery.cookie.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
  <link rel="stylesheet" href="{% static 'scss/all.css' %}">
  <script src="{% static '/js/script.js' %}" type="text/javascript"></script>
</head>
<body>
  {% load i18n %}
  <!-- https://as-tx.github.io/bootstrap-off-canvas-sidebar/offset-overlay-full-demo.html# -->
  <div class="bs-canvas-overlay bs-canvas-anim bg-dark position-fixed w-100 h-100"></div>
  
  <div class="bs-offset-main bs-canvas-anim">
    <!-- ==========================Start Header Area========================== -->
    <div class="">  
      <header class="base_header-area sticky-top">
        <div class="top-menu">
          <nav class="navbar navbar-expand bg-light">
            <div class="container-fluid text-nowrap">
              <!-- <a class="navbar-brand d-flex flex-nowrap" href="{% url 'home' %}" style="width: 8vw;">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
                <p class="h5">成功大學資訊工程學系</p>
                <p class="h6">Department of Computer Science and Information Engineering</p>
              </a> -->
              <a class="d-flex align-items-center text-wrap" href="{% url 'home' %}">
                <div class="flex-shrink-0">
                  <img src="{% static 'images/logo.png' %}" alt="Logo" style="max-height: 50px; width:auto;">
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="m-0" style="font-size: 1.2vw;">成功大學資訊工程學系</p>
                  <p class="m-0" style="font-size: 0.5vw;">Department of Computer Science and Information Engineering</p>
                </div>
              </a>
              <div class="mx-auto"></div>
              <div class="">
                <ul class="navbar-nav gap-2">
                  <li class="nav-item">
                    <a class="fw-light align-middle text-decoration-underline" href="{% url 'admin:index' %}">{% trans "登入" %}</a>
                  </li>
                  <li class="nav-item">
                    {% get_current_language as CURRENT_LANGUAGE %}
                    {% get_available_languages as AVAILABLE_LANGUAGES %}
                    {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                    {% for language in languages %}
                    
                    {% if language.code != CURRENT_LANGUAGE %}
                      {% if language.code == 'zh-hant' %}
                      <a class="fw-light align-middle text-decoration-underline" href="/{{ language.code }}/">zh-tw</a>
                      
                      {% else %}
                      <a class="fw-light align-middle text-decoration-underline" href="/{{ language.code }}/">英文版</a>
                      {% endif %}
                    <!-- <a href="/{{ language.code }}/">
                      {{ language.name_local }}
                    </a> -->
                    {% endif %}
                    {% endfor %}
                  </li>
                  <li class="nav-item">
                    <form action="{% url 'search' %}" method="get" class="form-inline d-none d-lg-block">
                      <div class="form-outline">
                        <input type="search" name="q" id="form1" class="form-control form-control-sm" placeholder="Search" aria-label="Search" />
                      </div>
                    </form>
                  </li>
                  <li class="nav-item">
                    <div class="d-lg-none" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right">
                      <em class="bi bi-list" style="font-size: 24px;"></em>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        
        <div class="main-menu">     
          <nav class="navbar navbar-expand bg-light py-0">
            <div class="container-fluid text-nowrap justify-content-center">
              <div class="topNav d-none d-lg-block" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item px-2 dropdown d-none d-lg-block">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {% trans "簡介" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item" href="{% url 'info' %}">{% trans "系所介紹" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'Directions' %}">{% trans "教育目標" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'Honor' %}">{% trans "榮譽事蹟" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'Regulation' %}">{% trans "法規彙編" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'Visiting' %}">{% trans "交通資訊" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'Equipment' %}">{% trans "設備介紹" %}</a></li>
                      <!-- <li><a class="dropdown-item" href="{% url 'Venue' %}">{% trans "場地租借" %}</a></li> -->
                    </ul>
                  </li>
                  <li class="nav-item px-2 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {% trans "成員" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item" href="{% url 'members_csie' %}">{% trans "師資" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'members_adjunct' %}">{% trans "兼任教授" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'members_joint' %}">{% trans "合聘教授" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'members_visiting' %}">{% trans "客座教授" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'office_members' %}">{% trans "系辦成員" %}</a></li>
                    </ul>
                  </li>
                  <li class="nav-item px-2 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {% trans "學術研究" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item" href="{% url 'Lab' %}">{% trans "實驗室" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'Areas' %}">{% trans "研究群" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'Centers' %}">{% trans "研究中心" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'International' %}">{% trans "國際合作交流" %}</a></li>
                    </ul>
                  </li>
                  <li class="nav-item px-2 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {% trans "課程及修業" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item" href="{% url 'Credits' %}">{% trans "課程抵免" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'Bachelor' %}">{% trans "大學部" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'BS' %}">{% trans "普渡雙聯組" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'instCSIE' %}">{% trans "資訊所" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'IMI' %}">{% trans "醫資所" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'AI' %}">{% trans "AI學程" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'Industrial' %}">{% trans "產碩專班" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'inService' %}">{% trans "在職專班" %}</a></li>
                    </ul>
                  </li>
                  <li class="nav-item px-2 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {% trans "學生事務" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item" href="{% url 'Documents' %}">{% trans "檔案下載" %}</a></li>
                      <li><a class="dropdown-item" href="https://oldsite.www.csie.ncku.edu.tw/Class2014/" target="_blank">{% trans "教室借用" %}&nbsp&nbsp<em class="bi bi-box-arrow-up-right"></em></a></li>
                      <li><a class="dropdown-item" href="https://oldsite.www.csie.ncku.edu.tw/score/" target="_blank">{% trans "資格考查詢系統" %}&nbsp&nbsp<em class="bi bi-box-arrow-up-right"></em></a></li>
                    </ul>
                  </li>
                  <li class="nav-item px-2 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {% trans "招生專區" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item" href="{% url 'adm_senior' %}">{% trans "高中生專區" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'adm_bachelor' %}">{% trans "大學部" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'adm_bs' %}">{% trans "普渡雙聯組" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'adm_talent' %}">{% trans "特殊選才" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'adm_CSIE' %}">{% trans "資訊所" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'adm_imi' %}">{% trans "醫資所" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'adm_ai' %}">{% trans "AI學程" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'adm_industrial' %}">{% trans "產碩專班" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'adm_inService' %}">{% trans "在職專班" %}</a></li>
                    </ul>
                  </li>
                  <li class="nav-item px-2 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {% trans "公告" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item" href="{% url 'posts' %}">{% trans "全部資訊" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'posts_normal' %}">{% trans "一般資訊" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'posts_bachelorAdmission' %}">{% trans "大學部招生" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'posts_masterAdmission' %}">{% trans "研究所招生" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'posts_speeches' %}">{% trans "演講及活動資訊" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'posts_awards' %}">{% trans "獲獎資訊" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'posts_scholarship' %}">{% trans "獎助學金" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'posts_jobs' %}">{% trans "徵人資訊" %}</a></li>
                    </ul>
                  </li>
                  
                  <li class="nav-item px-2 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {% trans "相關連結" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item" href="{% url 'Other' %}">{% trans "其他服務系統" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'Alumni' %}">{% trans "系友資訊" %}</a></li>
                      <li><a class="dropdown-item" href="{% url 'Venue' %}">{% trans "場地租借" %}</a></li>
                      <li><a class="dropdown-item" target="blank" href="http://ieet.csie.ncku.edu.tw/" target="_blank">{% trans "問卷系統" %}&nbsp&nbsp<em class="bi bi-box-arrow-up-right"></em></a></li>
                      
                    </ul>
                  </li>
                  <li class="nav-item px-2 dropdown">
                    <a class="nav-link" target="blank" href="https://oldsite.www.csie.ncku.edu.tw/ncku_csie/" role="button">
                      {% trans "舊版網站" %}
                    </a>
                  </li>
                  <!-- {% get_current_language as CURRENT_LANGUAGE %}
                  {% get_available_languages as AVAILABLE_LANGUAGES %}
                  {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                  {% for language in languages %}
                  {% if language.code != CURRENT_LANGUAGE %}
                        <li class="nav-item py-2 px-5">
                          <a href="/{{ language.code }}/" class="nav-link">
                            {{ language.name_local }}
                          </a>
                        </li>
                        {% endif %}
                  {% endfor %} -->
                  <!-- <li class="nav-item py-2 px-5 d-lg-none" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right">
                    <em class="bi bi-list" style="font-size: 24px;"></em>
                  </li> -->
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>

    
      <!-- ===========================End Header Area=========================== -->
      
      
    
    
    
    <!-- ===========================Start Main Area=========================== -->
    {% block content %}{% endblock %}
    <!-- <button class="btn btn-primary" type="button" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right">&#9776;</button> -->
    <!-- ============================End Main Area============================ -->

    <footer class="bg-primary text-white mt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 my-5 my text-center">
            <ul class="navbar-nav justify-content-center">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'Visiting' %}">{% trans "交通資訊" %}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'info' %}">{% trans "系所介紹" %}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'members_csie' %}">{% trans "師資陣容" %}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'Documents' %}">{% trans "檔案下載" %}</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-12 my-5 text-left">
            <small>70101 台南市東區大學路一號</small></br>
            <small>TEL 06-2757575 ext 62500 <a href="{% url 'office_members' %}" style="text-decoration: underline;">{% trans "分機查詢" %}</a></small></br>
            <small>FAX 06-2747076</small></br>
            <small>em62500@email.ncku.edu.tw</small></br>
            <a class="my-3 d-flex align-items-center text-wrap" href="https://www.ncku.edu.tw">
              <div class="flex-shrink-0">
                <img src="{% static 'images/ncku_logo.png' %}" alt="Logo" style="max-height: 50px; width:auto;">
              </div>
              <div class="flex-grow-1 ms-3">
                <h6>國立成功大學</h6>
                <small>National Cheng Kung University</small>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Copyright © 2022 國立成功大學資訊工程系
      </div>
    </footer>
  </div>
  
  <div id="bs-canvas-right" class="bs-canvas bs-canvas-anim bs-canvas-right position-fixed h-100" data-offset="true" data-overlay="false">
    <header class="bs-canvas-header p-3 overflow-auto">
        <button type="button" class="bs-canvas-close float-left close" aria-label="Close" class="text-light"><span aria-hidden="true">&times;</span></button>
    </header>
    <div class="bs-canvas-content">
      <ul class="list-unstyled components px-3">
        <li>
          <a href="#infoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{% trans "簡介" %}</a>
          <ul class="collapse list-unstyled" id="infoSubmenu">
            <li><a href="{% url 'info' %}">{% trans "系所介紹" %}</a></li>
            <li><a href="{% url 'Directions' %}">{% trans "教育目標" %}</a></li>
            <li><a href="{% url 'Honor' %}">{% trans "榮譽事蹟" %}</a></li>
            <li><a href="{% url 'Regulation' %}">{% trans "法規彙編" %}</a></li>
            <li><a href="{% url 'Visiting' %}">{% trans "交通資訊" %}</a></li>
            <li><a href="{% url 'Equipment' %}">{% trans "設備介紹" %}</a></li>
          </ul>
        </li>
        <li>
          <a href="#membersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{% trans "成員" %}</a>
          <ul class="collapse list-unstyled" id="membersSubmenu">
            <li><a href="{% url 'members_csie' %}">{% trans "師資" %}</a></li>
            <li><a href="{% url 'members_adjunct' %}">{% trans "兼任教授" %}</a></li>
            <li><a href="{% url 'members_joint' %}">{% trans "合聘教授" %}</a></li>
            <li><a href="{% url 'members_visiting' %}">{% trans "客座教授" %}</a></li>
            <li><a href="{% url 'office_members' %}">{% trans "系辦成員" %}</a></li>
          </ul>
        </li>
        <li>
          <a href="#researchSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{% trans "學術研究" %}</a>
          <ul class="collapse list-unstyled" id="researchSubmenu">
            <li><a href="{% url 'Lab' %}">{% trans "實驗室" %}</a></li>
            <li><a href="{% url 'Areas' %}">{% trans "研究群" %}</a></li>
            <li><a href="{% url 'Centers' %}">{% trans "研究中心" %}</a></li>
            <li><a href="{% url 'International' %}">{% trans "國際合作交流" %}</a></li>
          </ul>
        </li>
        <li>
          <a href="#courseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{% trans "課程及修業" %}</a>
          <ul class="collapse list-unstyled" id="courseSubmenu">
            <li><a class="dropdown-item" href="{% url 'Credits' %}">{% trans "課程抵免" %}</a></li>
            <li><a href="{% url 'Bachelor' %}">{% trans "大學部" %}</a></li>
            <li><a href="{% url 'BS' %}">{% trans "普渡雙聯組" %}</a></li>
            <li><a href="{% url 'instCSIE' %}">{% trans "資訊所" %}</a></li>
            <li><a href="{% url 'IMI' %}">{% trans "醫資所" %}</a></li>
            <li><a href="{% url 'AI' %}">{% trans "AI學程" %}</a></li>
            <li><a href="{% url 'Industrial' %}">{% trans "產碩專班" %}</a></li>
            <li><a href="{% url 'inService' %}">{% trans "在職專班" %}</a></li>
          </ul>
        </li>
        <li>
          <a href="#eduSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{% trans "學生事務" %}</a>
          <ul class="collapse list-unstyled" id="eduSubmenu">
            <li><a href="{% url 'Documents' %}">{% trans "檔案下載" %}</a></li>
            <li><a target="blank" href="https://oldsite.www.csie.ncku.edu.tw/Class2014/">{% trans "教室借用" %}&nbsp&nbsp<em class="bi bi-box-arrow-up-right"></em></a></li>
            <li><a target="blank" href="https://oldsite.www.csie.ncku.edu.tw/score/">{% trans "資格考查詢系統" %}&nbsp&nbsp<em class="bi bi-box-arrow-up-right"></em></a></li>
          </ul>
        </li>
        
        <li>
          <a href="#admissionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{% trans "招生專區" %}</a>
          <ul class="collapse list-unstyled" id="admissionSubmenu">
            <li><a href="{% url 'adm_senior' %}">{% trans "高中生專區" %}</a></li>
            <li><a href="{% url 'adm_bachelor' %}">{% trans "大學部" %}</a></li>
            <li><a href="{% url 'adm_bs' %}">{% trans "普渡雙聯組" %}</a></li>
            <li><a href="{% url 'adm_talent' %}">{% trans "特殊選才" %}</a></li>
            <li><a href="{% url 'adm_CSIE' %}">{% trans "資訊所" %}</a></li>
            <li><a href="{% url 'adm_imi' %}">{% trans "醫資所" %}</a></li>
            <li><a href="{% url 'adm_ai' %}">{% trans "AI學程" %}</a></li>
            <li><a href="{% url 'adm_industrial' %}">{% trans "產碩專班" %}</a></li>
            <li><a href="{% url 'adm_inService' %}">{% trans "在職專班" %}</a></li>
          </ul>
        </li>
        <li>
          <a href="#newsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{% trans "公告" %}</a>
          <ul class="collapse list-unstyled" id="newsSubmenu">
            <li><a href="{% url 'posts' %}">{% trans "全部資訊" %}</a></li>
            <li><a href="{% url 'posts_normal' %}">{% trans "一般資訊" %}</a></li>
            <li><a href="{% url 'posts_bachelorAdmission' %}">{% trans "大學部招生" %}</a></li>
            <li><a href="{% url 'posts_masterAdmission' %}">{% trans "研究所招生" %}</a></li>
            <li><a href="{% url 'posts_speeches' %}">{% trans "演講及活動資訊" %}</a></li>
            <li><a href="{% url 'posts_awards' %}">{% trans "獲獎資訊" %}</a></li>
            <li><a href="{% url 'posts_scholarship' %}">{% trans "獎助學金" %}</a></li>
            <li><a href="{% url 'posts_jobs' %}">{% trans "徵人資訊" %}</a></li>
          </ul>
        </li>
        <li>
          <a href="#linksSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{% trans "相關連結" %}</a>
          <ul class="collapse list-unstyled" id="linksSubmenu">
            <li><a href="{% url 'Other' %}">{% trans "其他服務系統" %}</a></li>
            <li><a href="{% url 'Alumni' %}">{% trans "系友資訊" %}</a></li>
            <li><a href="{% url 'Venue' %}">{% trans "場地租借" %}</a></li>
            <li><a target="blank" href="http://ieet.csie.ncku.edu.tw/">{% trans "問卷系統" %}&nbsp&nbsp<em class="bi bi-box-arrow-up-right"></em></a></li>
            
          </ul>
        </li>
        <li>
          <a target="blank" href="https://oldsite.www.csie.ncku.edu.tw/ncku_csie/">{% trans "舊版網站" %}</a>
        </li>
        <li>
          {% get_current_language as CURRENT_LANGUAGE %}
          {% get_available_languages as AVAILABLE_LANGUAGES %}
          {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
          {% for language in languages %}
            {% if language.code != CURRENT_LANGUAGE %}
              {% if language.code == 'zh-hant' %}
              <li class="nav-item"><a href="/{{ language.code }}/">zh-tw</a></li>
              {% else %}
              <li class="nav-item"><a href="/{{ language.code }}/">英文版</a></li>
              {% endif %}
            {% endif %}
                <!-- <li class="nav-item">
                  <a href="/{{ language.code }}/"
                    {% if language.code == CURRENT_LANGUAGE %} class="nav-link" style="display: none;"
                    {% else %} class="nav-link"{% endif %}>
                    {{ language.name_local }}
                  </a>
                </li> -->
          {% endfor %}
        </li>
        <li class="nav-item">
          <form action="{% url 'search' %}" method="get" class="form-inline my-3">
            <div class="form-outline">
              <input type="search" name="q" id="form1" class="form-control form-control-sm" placeholder="Search" aria-label="Search" />
            </div>
          </form>
        </li>
    </ul>
    </div>    
  </div>
  
  

</body>
</html>